:root {
  --bg-color: hsl(0, 0%, 7%);
  --color: hsl(0, 0%, 87%);

  --prog-border-color: hsl(160, 55%, 55%);
  --prog-border-size-p: 2px;
  --prog-border-size-n: -2px;
  --prog-bg-color: hsl(150, 15%, 15%);
  --prog-fg-color: hsl(150, 40%, 40%);

  --prog-millennia: 50%;
  --prog-century: 50%;
  --prog-decade: 0;
  --prog-year: 0;
  --prog-month: 0;
  --prog-week: 0;
  --prog-day: 0;
  --prog-hour: 0;
  --prog-minute: 0;
  --prog-second: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: sans-serif;
  font-size: 14pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  display: grid;
  grid-template-columns: minmax(250px, auto);
  grid-template-rows: repeat(10, minmax(32px, 1fr));
  grid-template-areas:
    'millennia'
    'century'
    'decade'
    'year'
    'month'
    'week'
    'day'
    'hour'
    'minute'
    'second'
  ;
  gap: 16px;
  margin: 16px;
  width: 100%;
  height: calc(100% - 16px * 2);
}

#clock .bar {
  /* fake border */
  box-shadow:
    var(--prog-border-size-n) var(--prog-border-size-n) 0 var(--prog-border-color),
    var(--prog-border-size-n) var(--prog-border-size-p) 0 var(--prog-border-color),
    var(--prog-border-size-p) var(--prog-border-size-n) 0 var(--prog-border-color),
    var(--prog-border-size-p) var(--prog-border-size-p) 0 var(--prog-border-color);
}

#clock .bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--prog-bg-color);
  border-radius: 12px;
}

#clock .bar::before {
  content: attr(class);
}

#clock .bar.millennia {
  grid-area: millennia;
  background: linear-gradient(to right, var(--prog-fg-color) 0 var(--prog-millennia), var(--prog-bg-color) var(--prog-millennia) 100%);
}

#clock .bar.century {
  grid-area: century;
  background: linear-gradient(to right, var(--prog-fg-color) 0 var(--prog-century), var(--prog-bg-color) var(--prog-century) 100%);
}

#clock .bar.decade {
  grid-area: decade;
  background: linear-gradient(to right, var(--prog-fg-color) 0 var(--prog-decade), var(--prog-bg-color) var(--prog-decade) 100%);
}

#clock .bar.year {
  grid-area: year;
  background: linear-gradient(to right, var(--prog-fg-color) 0 var(--prog-year), var(--prog-bg-color) var(--prog-year) 100%);
}

#clock .bar.month {
  grid-area: month;
  background: linear-gradient(to right, var(--prog-fg-color) 0 var(--prog-month), var(--prog-bg-color) var(--prog-month) 100%);
}

#clock .bar.week {
  grid-area: week;
  background: linear-gradient(to right, var(--prog-fg-color) 0 var(--prog-week), var(--prog-bg-color) var(--prog-week) 100%);
}

#clock .bar.day {
  grid-area: day;
  background: linear-gradient(to right, var(--prog-fg-color) 0 var(--prog-day), var(--prog-bg-color) var(--prog-day) 100%);
}

#clock .bar.hour {
  grid-area: hour;
  background: linear-gradient(to right, var(--prog-fg-color) 0 var(--prog-hour), var(--prog-bg-color) var(--prog-hour) 100%);
}

#clock .bar.minute {
  grid-area: minute;
  background: linear-gradient(to right, var(--prog-fg-color) 0 var(--prog-minute), var(--prog-bg-color) var(--prog-minute) 100%);
}

#clock .bar.second {
  grid-area: second;
  background: linear-gradient(to right, var(--prog-fg-color) 0 var(--prog-second), var(--prog-bg-color) var(--prog-second) 100%);
}
